.sidebar {
  width: 220px;
  background: #0f172a;
  height: 100vh;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: white;
  padding: 10px 0;
  text-decoration: none;
}
